button{
  background-color: rgb(0, 255, 136);
  font-family: cursive;

}

ion-col{
  font-size: 14px;
  background-color:white;



}

h3{
  text-align: center;
  color:black;
  background-color: yellow;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  


}
ion-row{
  color:black;
  font-family: Arial;



}
ion-buttom{
  margin-top: 60px;


}
h1{
  text-align: center;
  margin:20px;
  color: red;
  font-size: 30px;
  font-family: Arial Black;


}

ion-content.main{
  --background: yellow;



}
ion-col{
  font-size: 70%;



}
